<!DOCTYPE html>
<html lang="en">

	<head>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>White Noise Night Light</title>
		
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

	</head>

	<body>
		<nav class="navbar is-dark">
			<div class="container">
				<div class="navbar-brand">
					<div class="navbar-item" href="#">
						<div class="brand-name is-size-2">Noise Machine</div>
					</div>
				</div>
			</div>
		</nav>
		<div class="container">
	
			<div class="columns is-mobile is-centered">
				<div class="column has-text-centered">
					<a href="/rain">
						<img src="/static/rain.png" value="Rain" />
					</a>
				</div>
				<div class="column has-text-centered">	
					<a href="/waves">
						<img src="/static/waves.png" value="Waves" />
					</a>
				</div>
			</div>
			<div class="columns is-mobile is-centered">
				<div class="column has-text-centered">
					<a href="/whitenoise" class="">
						<img src="/static/whitenoise.png" value="White Noise" />
					</a>
				</div>
				<div class="column has-text-centered">	
					<a href="/stop">
						<img src="/static/stop.png" value="Stop" />
					</a>
				</div>
			</div>
			<div class="columns is-mobile is-centered">
				<div class="column has-text-centered">
					<a class="button is-primary volume-down" href="/volumedown">
						<span class="icon is-large">
							<img src="{{ url_for('static', filename='icons/minus.svg') }}" />
						</span>
					</a>
					<span class="is-size-4">Volume</span>
					<a class="button is-primary volume-up" href="/volumeup">
						<span class="icon is-large">
							<img src="{{ url_for('static', filename='icons/plus.svg') }}" />
						</span>
					</a>
				</div>
			</div>
			<div class="select-sounds">
				<form action="/play" method="post">
					<select name="file">
						{% for sound in sounds %}
						<option value="{{ sound }}" name="file">{{ sound }}</option>
						{% endfor %}
					</select>
					<button type="submit" value="Play">Play</button>
				</form>
			</div>
			<div class="bt-connect">
				Connect:
				<a href="/connect">
					<img src="/static/connect.png" style="width: 80px;" />
				</a>
			</div>
		</div>
	</body>

	<script>
		document.getElementsByClassName("volume-down")[0].addEventListener('click', json_link, false);
		document.getElementsByClassName("volume-up")[0].addEventListener('click', json_link, false);

		function json_link(e) {
			e.preventDefault();
			const options = {
				method: 'GET',
			}

			fetch(this.href, options)
				.then(res => res.json())
				.then(res => console.log(res));
			return false;
		};
		// document.getElementById("volume_range").addEventListener('change', function () {
		// 	data = {
		// 		'volume': this.value
		// 	};
		// 	const options = {
		// 		method: 'POST',
		// 		body: JSON.stringify(data),
		// 		headers: {
		// 			'Content-Type': 'application/json'
		// 		}
		// 	}

		// 	fetch('/volume', options)
		// 		.then(res => res.json())
		// 		.then(res => console.log(res));
		// }, false);
	</script>

</html>